/******************************************************/
body
{
    background-color:      white;
    color:                 black;
    margin:                8px 8px 8px 36px;
    /*background-image:      url(images/29EfM.gif);*/
    background-position:   top left;
    background-attachment: fixed;
    background-repeat:     repeat-y;
    white-space:           normal;
}

p
{
    text-align:  justify;
    white-space: normal; /* collapses all whitespace to one character (for Safari) */
    font-family: /*georgia, Georgia, Palatino,*/ "Times New Roman", serif;
}

p.narrow
{
    margin: 4em;
}

/******************************************************/
h1, h2, h3, h4, h5, h6
{
    background-color:  transparent;
    color:             black;
    font-family:       /*"Lucida Grand", "Lucida Grande", Tahoma,*/ Helvetica, sans-serif;
}

h1
{
    font-size:   152%;
}

h2
{
    font-size:   130%;
    font-style:  italic;
}

h3
{
    font-weight: bold;
}

h4
{
    font-style:  italic;
}

/******************************************************/
a:link, a:visited, a:hover, a:active
{
    background-color: transparent;
}

a:link    
{
    color:            blue;
}

a:visited
{
    color:            purple;
}

a:hover
{
    color:            navy;
    text-decoration:  underline;
}

a:active
{
    color:            maroon;
}

/******************************************************/
address
{
    color:            black;
    background-color: transparent;
    font-style:       normal;
}

table
{
    clear:   none;
    margin:  1em;
    padding: 1em;
}

caption
{
    font-weight: bold;
    font-size:   114%;
}

blockquote
{
    font-size:   90%;
    text-align:  justify;
    font-family: georgia, Georgia, Palatino, "Times New Roman", serif;
} 

td
{
    text-align: justify;
}

img
{
    border: none;
}

pre
{
    text-align: left;
    white-space: pre;
}

/******************************************************/
.centerel, .centerel100, .header, .trailer /* this centers elements */
{
    margin-left:  auto;
    margin-right: auto;
    text-align:   center;
    clear:        both;
}

.header
{

}

.trailer
{
    font-size:    83%;
    width:        100%;
}

.centerel
{

}

.centerel100
{
    width:        100%;
} 

/******************************************************/
.letter
{
    float: left;
}

.otherlinks
{
    float:            right;
    background-color: #e0e0e0;
    color:            black;
    width:            40%;
    clear:            none;
    text-align:       justify;
    font-size:        83%;
}

/******************************************************/
.imageleft, .imageright
{
    background-color: transparent;
    color:            black;
    clear:            none;
    text-align:       justify;
}

.imageleft
{
    float:            left;
}

.imageright
{
    float:            right;
}

.u
{
    text-decoration: underline;
} 

/******************************************************/
.quotation, .quotation-green, .quotation-orange, .quotation-turq
{
    color:               black;
    padding:             1em;
    margin-left:         auto;
    margin-right:        auto;
    margin-top:          1em;
    margin-bottom:       1em;
    text-align:          center;
}

.quotation
{
    background-color:    #e0e0e0;
}

.quotation-green
{
    background-color:    #ccff99;
}

.quotation-orange
{
    background-color:    #ffcc99;
}

.quotation-turq
{
    background-color:    #99ffff;
}

/******************************************************/
.rsidebar
{
    float:            right;
    background-color: #e0e0e0;
    color:            black;
    clear:            none;
    margin:           1em;
    padding:          1em;
    text-align:       justify;
    width:            40%;
    font-size:        83%;
}

/******************************************************/
.outline, .outline33
{
    clear:          both;
    vertical-align: top;
    text-align:     left;
}

.outline
{
    width:          98%;
}

.outline33
{
    width:          32%;
}

/******************************************************/
.refs
{
    background-color: transparent;
    color:            black;
    text-align:       left;
    font-size:        83%;
}

.examples
{
    font-style: italic;
}

/******************************************************/
.grey, .gray
{
    background-color: #e0e0e0;
    color:            black;
}

.turq, .turquoise
{
    background-color: #99ffff;
    color:            black;
}

.green
{
    background-color: #ccff99;
    color:            black;
}

.orange
{
    background-color: #ffcc99;
    color:            black;
}

.red-text
{
    background-color: transparent;
    color:            red;
}

/******************************************************/
.indent1 { text-indent:    2em }
.indent2 { text-indent:    4em }
.indent3 { text-indent:    6em }

.center  { text-align:     center; }
.left    { text-align:     left; }
.right   { text-align:     right; }
.top     { vertical-align: top; }

/******************************************************/
.plus2, .plus1, .plus0, .minus1, .minus2
{
    font-weight: normal;
    padding:     0;
    margin:      0;
}

.plus2   { font-size:      152%; }
.plus1   { font-size:      114%; }
.plus0   { font-size:      100%; }
.minus1  { font-size:      83%; }
.minus2  { font-size:      65%; }

.serif
{
    font-family: georgia, Georgia, Palatino, "Times New Roman", serif;
}
